@import "bootstrap";

.navbar {
  background-color: #008AAE !important;
}  

.nav-link {
  color: #F2F7F8 !important;
}

#logo{
  float: left;
  font-size: 27.2px;
  color: #e2d3b8;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#home-container{
  margin-top: 30px;
}

#home-jumbotron{
  background-image: asset-url('writeTwo.jpeg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 425px;
}

#form-layout{
  background-color:#06b7e4;
}


html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
  background-color: #fdf7ec;
}

#sticky-footer {
  flex-shrink: none;
}

ul {
  display:inline-table;
}